<div class="card mb-3">
    <img 
        src="https://us.123rf.com/450wm/aprillrain/aprillrain2212/aprillrain221200601/196354200-an-open-magic-book-with-fairy-tales-high-quality-illustration.jpg?ver=6" 
        class="card-img-top" 
        alt="...">
    <div class="card-body">
      <h5 class="card-title">My Book</h5>
      <p class="card-text">
        This app let's you track your gaol progress, create habbits, interact with friends and share confessions!
      </p>
      <p class="card-text"><small class="text-muted">Sameer Ranjan</small></p>
    </div>
  </div>
 