<div class="card mb-3">
    
    <div class="card-body">
      <h5 class="card-title">My Book</h5>

      <p class="card-text">
        Introducing a revolutionary app that transforms your journey towards success into a captivating adventure!
        Unleash your full potential with features designed to elevate your personal growth game.
        Seamlessly track your progress towards your goals, cultivate positive habits that stick, and embark on a social experience like never before.
    </p>
    <p class="card-text">
        Connect with friends, share achievements, and inspire each other to reach new heights.
        But that's not all – this app goes beyond the ordinary by providing a unique space for confessions.
        Open up, share your challenges, and let the supportive community rally behind you.
     </p>   
        <p class="card-text"></p>
            Experience a dynamic platform that not only helps you achieve your dreams but also turns the pursuit of self-improvement into an engaging and interactive experience. 
            OnBoard now and step into a world where your goals become an exciting journey, your habits lead to lasting change, and your confessions pave the way to a stronger, more connected you!
        </p>
        
      
      
      
      
      
      <p class="card-text"><small class="text-muted">Sameer Ranjan</small></p>
    </div>
    <img 
        src="https://cdn.pixabay.com/photo/2015/06/02/12/59/book-794978_640.jpg" 
        class="card-img-top" 
        alt="...">
  </div>
 